@font-face {
  font-family: 'Overpass';
  src: url(assets/fonts/Overpass-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  width: 100vw;
  height: 100vh;
  font-family: 'Overpass';
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
  margin: 2em 0;
  color: hsl(217, 12%, 63%);
  cursor: pointer;
  transition: .3s;
}

ul li:hover {
  background-color: hsl(25, 97%, 53%);
}

main {
  width: 90vw;
  height: 65vh;
  background-color: hsl(213, 19%, 18%);
  padding: 1.5em;
  border-radius: 15px;
}

#start {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

h1 {
  margin: 1em 0;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: hsl(217, 12%, 30%);
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  background-color: rgb(160, 160, 248);
}

button {
  width: 100%;
  height: 3em;
  border: 2px solid transparent;
  border-radius: 1.5em;
  background-color: hsl(25, 97%, 53%);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .3em;
  font-weight: 530;
  color: white;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  border: 2px solid hsl(25, 97%, 53%);
}

#end {
  height: 100%;
  width: 100%;
  text-align: center;
}

#end img {
  margin: .5em 0;
}

.rating {
  height: 2em;
  width: 65%;
  line-height: 2em;
  border-radius: 1em;
  margin: .5em auto 2em;
  background-color: rgb(95, 95, 95);
  color: hsl(25, 97%, 53%);
}

@media screen and (min-width: 376px) {
  main {
    width: 25vw;
    height: 60vh;
  }
}